
  .board_list_table{
      margin:50px 0 100px 200px;
      text-align: center;
      border-collapse: collapse;
  }
  .board_list_table tr th{
    padding: 13px;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    background-color: #f3f3f3;
  }
  .board_list_table tr td{
    padding: 12px;
    border-bottom: 1px solid #dbdbdb;
  }
h1
{
	text-align: center;
}

.text
{
	width : 800px;
	height : 50px;
}

form #notice
{
	float:right;
}

.section{
    margin: 80px 0 80px 0;
    text-align: center;
  }
.section li {
     display: inline-block;
    margin: 5px;
}
.section .title_a {
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

.search{
    margin-left: 70%;
    margin-bottom: 20px;
}